{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Articles</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" >
    </head>
    <body>
        <div class="wrapper">
            <h2>
                <a href="{% url 'articles:list' %}" >
                    <img src="{% static 'logo.png' %}">
                </a>
            </h2>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>