{% extends 'base_layout.html' %}

{% block content %}

<div class="article-detail">
    <div class="article">
        <img src="{{ article.thumb.url }}"/>
        
        <h2>{{ article.title }}</h2>
        <p>{{ article.date }}</p>
        <p>{{ article.body }}</p>
    </div>
</div>

{% endblock %}