{% extends 'base_layout.html' %}

{% block content %}

<h1>Sign up</h1>

<form class="site-form" action="/accounts/signup/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Signup">
</form>

{% endblock %}